$title-text-font:'Montserrat', sans-serif;
$text-font: 'Lato', sans-serif;

$primary-button-color: #0275d8;
$primary-button-text-color: white;

$primary-text-color: #737373;
$primary-toast-color: #ff0000;

$primary-border-color: #d9d9d9;

$primary-link-text-color: #0080f9;

$primary-box-shadow-color: rgba(181,186,190,1);
$primary-toast-box-shadow-color: rgba(255, 0, 0, 0.5);

$primary-background-color: #f2f2f2;

$individual-post-margin: 2rem;