.page-list{
    list-style-type: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page-list-elements{
    display: inline;
    cursor: pointer;
    padding-right: 0.75rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: #0080f9;
}
