.single-page-card{
    background-color: #f2f2f2;
    color: #666666;
    margin-top: -8rem;
    margin-bottom: 3rem;
    text-align: left;
    width: 60rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 8px 16px 0 rgba(181,186,190,1);
}

.single-page-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.single-page-subtitle{
    margin-top: 0.5rem;
    font-style: italic;
    font-weight: 500;
}

.single-page-body{
    margin-top: 1rem;
    text-align: justify;
}

.single-page-back-button{
    cursor: pointer;
}

.single-page-hr{
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 1px solid #9c9d9e;
    border-radius: 50%;
    height: 0.07rem;
    width: 58rem;
    background-color: #9c9d9e;
}